@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Spartan', sans-serif;
    text-align: center;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
/*vars*/
:root {
    --mainBgColor: #26281e;
    --mainTxtColor: #ffebc6;
    --hoverColor: #df6437;
    --transitioni: 80ms;
}

* {
    text-decoration: none;
    color: var(--mainTxtColor);
}

img {
    width: 800px;
    /*600px*/
}

/*down arrow for mobile*/
.arrow {
    position: absolute;
    left: 46vw;
    top: 75vh;
    display: none;
    border: solid var(--mainTxtColor);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 15px;
    transition: 500ms;
}

.down {
    display: none;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*da ne skače ko se pojavi scroll, je scroll rajš cel cajt*/

body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--mainBgColor);
}

.loc {
    margin-left: 15px;
}

/*mobile je pva stran samo logo*/
.mobile {
    min-height: auto !important;
}

/*razni stili naslovov*/
h2,
h3 {
    letter-spacing: -0.075em;
    font-weight: 800;
}

h2 {
    font-size: 25pt;
    margin-top: 12px;
    line-height: 25pt;
}

h3 {
    padding-top: 3px;
    font-size: 15pt;
    line-height: 15pt;
}

.minus {
    letter-spacing: -0.17em;
    font-weight: 900;
    padding-right: 8px;
}

.hover:hover,
a:hover {
    color: var(--hoverColor) !important;
    -webkit-transition: 0ms;
    -moz-transition: 0ms;
    -o-transition: 0ms;
    transition: 0ms;
}

.hover {
    cursor: pointer;
    -webkit-transition: var(--transitioni);
    -moz-transition: var(--transitioni);
    -o-transition: var(--transitioni);
    transition: var(--transitioni);
}

/*master-detail za dneve v tednu*/
.r {
    overflow: hidden;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    height: 41px;
}

.skri {
    padding-bottom: 10px;
}

.r h3 {
    padding-top: 15px;
}

.r p {
    letter-spacing: -0.1em;
    font-weight: 500;
    margin-left: 25px;
    margin-right: 25px;
}

sup {
    font-size: 9.1pt;
}

.jezik {
    margin-top: 55px;
    margin-bottom: 55px;
}

.naslov {
    margin-top: 20px;
    margin-bottom: 20px;
}

.podnaslov {
    margin-bottom: 55px;
}

.noga {
    margin-top: 55px;
    padding-bottom: 150px;
}

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}
/*responsive design*/
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 80pt;
    }

    img {
        width: 500px;
    }
}

@media only screen and (max-width: 510px) {
    h1 {
        font-size: 60pt;
    }

    img {
        width: 450px;
        margin-top: 50%;
    }

    .mobile {
        min-height: 100vh !important;
    }
    .arrow {
        display: inline-block;
    }
    .down {
        display: inline-block;
    }
    .noga {
        padding-bottom: 355px;
    }
    #program {
        margin-top: 55px;
        padding: 1px;
        border: solid var(--mainBgColor) 10px;
    }
}

@media only screen and (max-width: 455px) {
    h1 {
        font-size: 60pt;
    }

    img {
        width: 400px;
    }
}

@media only screen and (max-width: 405px) {
    h1 {
        font-size: 60pt;
    }

    img {
        width: 350px;
    }
}

@media only screen and (max-width: 355px) {
    h1 {
        font-size: 60pt;
    }

    img {
        width: 300px;
    }
}